<% if current_user %>
<h3>Hello <%= @user.name %></h3>
<% else %>


<div class="jumbotron">


  <h2> Welcome to Trip Easy! </h2>
  <p class="lead">
    You'll love managing your trip with our app with friends and family!
  </p>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Sign up</h2>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :username, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <p class="help-block">
              <% if @validatable %>
              (<%= @minimum_password_length %> characters minimum)
              <% end %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit "Sign up", class: "btn btn-success btn-block" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>


<div class="row text-center">
  <div class="col-sm-4 padding-inside-top-sm">
    <div class="thumbnail">
      <img src="http://www.combotrip.com/home/img_1.jpg">
    </div>
    <h3>CREATE A TRIP</h3>
    <p>
      Build a new trip then invite your friends, family members, or classmates
    </p>
  </div>

  <div class="col-sm-4 padding-inside-top-sm">
    <div class="thumbnail">
      <img src="http://www.combotrip.com/home/img_4.jpg">
    </div>
    <h3>STAY ORGANIZED</h3>
    <p>
      Keep all your trip info, expenses, and photos in one place. Select what you want to eat. Submit your order.
    </p>
  </div>

  <div class="col-sm-4 padding-inside-top-sm">
    <div class="thumbnail">
      <img src="http://www.combotrip.com/home/img_2.jpg">
    </div>
    <h3>GET INSPIRED</h3>
    <p>
      Browse other trip itineraries for inspiration.
    </p>
  </div>

</div>
