<div class="page-header">
  <h3>Location Option #<%= @location_option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Option</dt>
      <dd><%= @location_option.option %></dd>

      <dt>Trip</dt>
      <dd><%= @location_option.trip_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/location_options" class="btn btn-primary">
        Back
      </a>
      <a href="/location_options/<%= @location_option.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_location_option/<%= @location_option.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
